<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.tarunmittal.musicalapplication">
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Playlist"
                  android:label="@string/app_playlist">
        </activity>
        <activity android:name=".Punjabi"
                  android:label="@string/app_punjabi">
        </activity>
        <activity android:name=".English"
                  android:label="@string/app_english">
        </activity>
        <activity android:name=".Bollywood"
                  android:label="@string/app_bollywood">
        </activity>
        <activity android:name=".Artist"
                  android:label="@string/app_artist">
        </activity>
    </application>
</manifest>